<div class="header">
    <nav>
        <a routerLink="/crises"
            routerLinkActive="active"
            class="btn btn-info">
            Crisis Center
        </a>
        <a routerLink="/heroes"
            routerLinkActive="active"
            class="btn btn-info">
            Heroes
        </a>
        <a routerLink="/crisis-center"
            routerLinkActive="active"
            class="btn btn-info">
            My crisis center
        </a>
        <a routerLink="/admin"
            routerLinkActive="active"
            class="btn btn-info">
            Admin
        </a>
    </nav>
</div>