<div>
    <h3>admin</h3>
    <nav>
        <a routerLink="./"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="btn btn-info">
            Dashboard
        </a>
        <a routerLink="./crises"
            routerLinkActive="active"
            class="btn btn-info">
            Manage Crises
        </a>
        <a routerLink="./heroes"
            routerLinkActive="active"
            class="btn btn-info">
            Manage Heroes
        </a>
    </nav>
    <div class="im-outlet">
        <router-outlet></router-outlet>
    </div>
</div>