.app {
    border: solid 5px palevioletred;
}
.app__main-outlet {
    border: solid 5px palevioletred;
}
.app__popup-outlet {
    border: solid 5px red;
}
.app__girl-outlet {
    border: solid 5px palegoldenrod;
}
.app__header {
    padding: 10px;
    border: solid 1px grey;
}