.app {
    border: solid 2px grey;
    margin: 50px;
}
.app__main-outlet {
    border: solid 2px grey;
}
.app__popup-outlet {
    border: solid 2px grey;
}
.app__girl-outlet {
    border: solid 2px grey;
}
.app__header {
    padding: 10px;
    border: solid 2px grey;
}