<div class="crisis-center">
    <h2>Crisis center</h2>
    <div>
        <div class="crisis-center__message">
            <div (click)="openMessage()"
                class="btn btn-primary">
                <span>Open</span>
            </div>
            <div (click)="closeMessage()"
                class="btn btn-light">
                <span>Close</span>
            </div>
            <router-outlet name="content"></router-outlet>
        </div>
    </div>
    <div class="crisis-center__router-outlet">
        <router-outlet></router-outlet>
    </div>
</div>