<div>
    <table class="table table-sm table-bordered fixed_header">
        <thead class="thead-light">
            <tr>
                <th *ngFor="let item of heads; let i = index;"
                    [ngStyle]="item.style">
                    <span>{{ item.name }}</span>
                </th>
                <th style="width: 17px;"></th>
            </tr>
        </thead>
        <tbody [ngStyle]="bodyStyle">
            <tr *ngFor="let item of body">
                <td *ngFor="let head of heads;"
                    [ngStyle]="head.style">
                    <span>{{ item[head.match] }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>